main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.pp {
    width: 200px;
    border-radius: 100%;
}

main h1 {
    margin: 0;
}

main > div {
    margin: 20px 0;
    display: flex;
}

main img {
    width: 20px;
    border-radius: 100%;
    margin: 10px;
    height: 200px;
}

span {
    display: none;
    height: 350px;
    margin-bottom: 30px;
}

span.active {
    display: block;
    animation: fadeIn 2s ease-in;
}

span:nth-of-type(1).active {
    animation: translate1 1s;
}

span:nth-of-type(2).active {
    animation: translate2 1s;
}

a {
    color: var(--color);
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes translate1 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes translate2 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

main label {
    display: inline-block;
    margin: 0 4px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--color);
    border-radius: 50%;
    cursor: pointer;
}

input[name="carousel"] {
    display: none;
}

#carousel-2:checked ~ label[for="carousel-2"] {
    background-color: var(--color);
    border: 2px solid var(--color);
}

#carousel-1:checked ~ label[for="carousel-1"] {
    background-color: var(--color);
    border: 2px solid var(--color);
}

main div span p {
    line-height: 0.25em;
}
