main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

main > h2 {
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.author {
  width: 35%;
  max-width: 35%;
  display: inline-block;
  margin-bottom: 30px;
}

.author:nth-of-type(1) {
  animation: translate1B 1.2s;
  margin-left: 0;
}

.author:nth-of-type(2) {
  animation: translate2B 1.2s;
  margin-right: 0;
}

.author:nth-of-type(1).active {
  animation: translate1 1.2s;
  margin-left: 33.33%;
}

.author:nth-of-type(2).active {
  animation: translate2 1.2s;
  margin-right: 33.33%;
}

.profile-picture {
  width: 200px;
  border-radius: 100%;
}

.author h2 {
  margin: 25px 0;
}

.author img {
  height: 200px;
}

.author p {
  line-height: 0.25em;
  font-size: 1.2em;
}

.carousel {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
}

.carousel-container {
  position: relative;
  width: 35%;
  overflow: hidden;
  margin: auto;
}

.slide-holder {
  width: 300%;
  margin: 0 -100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main label {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

@keyframes translate1 {

  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes translate2 {

  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes translate1B {

  from {
    transform: translateX(100%);
    opacity: 1;
  }

  to {
    transform: translateX(0);
    opacity: 0;
  }

}

@keyframes translate2B {

  from {
    transform: translateX(-100%);
    opacity: 1;
  }

  to {
    transform: translateX(0);
    opacity: 0;
  }

}

label.carousel {
  display: inline-block;
  margin: 0 4px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--ligt-blue);
  border-radius: 50%;
  cursor: pointer;
}

input[name="carousel"] {
  display: none;
}

#carousel-2:checked ~ label[for="carousel-2"] {
  background-color: var(--ligt-blue);
  border: 2px solid var(--ligt-blue);
}

#carousel-1:checked ~ label[for="carousel-1"] {
  background-color: var(--ligt-blue);
  border: 2px solid var(--ligt-blue);
}

.contact-form {
  width: 66%;
}

.contact-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.contact-form div label {
  width: 47.5%;
  margin: 20px 0 40px;
}

input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--light-background);
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  font-weight: bold;
}

.contact-form div + label {
  display: inline-block;
  width: 100%;
}

button {
  margin: 30px;
  padding: 10px;
  background-color: var(--light-background);
  color: var(--dark-blue);
  font-size: 1.3em;
  border: 2px solid var(--dark-blue);
  border-radius: 20px;
}

a {
  color: var(--ligt-blue);
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
  color: white;
}

@media (max-width: 960px) {
  .carousel-container {
    width: 100%;
  }

  .contact-form {
    width: 80%;
  }

}
