header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

header img {
    height: 125px;
}

img.menu-btn {
    display: none;
    height: 50px;
    margin-top: 20px;
    margin-right: 15px;
}

.menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header p {
    margin-top: 50px;
    font-size: 2em;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 2px;
}

@keyframes link-animation {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1)
    }
}

a.page-link::after {
    background-color: gray;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
}

a.page-link:not(#current):hover::after {
    animation: link-animation 0.5s cubic-bezier(.22, 1.16, .46, 1.33) forwards;
}

a.page-btn {
    color: var(--color);
    border-radius: 30px;
    border: solid var(--color);
    padding: 10px 15px;
    transition: background-color 400ms;
}

a.page-btn:hover {
    background-color: var(--color2);
    color: white;
    border-radius: 30px;
    border: solid var(--color2);
    padding: 10px 15px;
}

.current::after {
    content: '';
    background-color: gray;
    display: block;
    height: 3px;
    width: 100%;
    transform: scaleX(1);
}

@media (max-width: 1080px) {

    header img {
        height: 90px;
    }

    .menu {
        width: 70%;
    }

    header p {
        font-size: 1.3em;
    }

}

@media (max-width: 720px) {

    header {
        flex-direction: column;
    }

    .responsive-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    img.menu-btn {
        display: block;
    }

    img.menu-btn:hover {
        cursor: pointer;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        transition: displ;
        display: none;
    }

    .visible {
        display: flex;
    }

    header p {
        margin-top: 0;
        font-size: 1.6em;
        line-height: 0.8em;
    }

}
